<%- include('shared/_header.ejs', {viewData: viewData}) %>

<div class="blog-container">

	<div class="page-title-container">
		<h1 class="page-title">
			Blog
		</h1>
	</div>

	<div class="posts-container">
		<% blogPosts.forEach(function(post) { %>
		<a href="/blog/<%= post.id %>">
			<div class="post">
				<p class="title">
					<%= post.title %>
				</p>
				<p class="date">
					<%= post.date %>
				</p>
				<div class="tags-container">
					<% post.tags.forEach(function(tag) { %>
					<div class="tag <%= tag.replace(/\s+/g, '-').toLowerCase() %>">
						<div class="tag-icon">
							<icon class="fas fa-tags"></icon>
						</div>
						<p class="tag-name">
							<%= tag %>
						</p>
					</div>
					<% }); %>
				</div>
			</div>
		</a>
		<% }); %>
	</div>
</div>

<%- include('shared/_footer.ejs') %>