<%- include('shared/_header.ejs', {viewData: viewData}) %>

<div class="page-title-container">
	<h1 class="page-title">
		Projects
	</h1>
</div>

<div class="projects-container">
	<div class="row justify-content-center">
		<% projects.forEach(function(project) { %>
		<div class="custom-column col-12 col-sm-6">
			<div class="project custom-border">
				<p class="title">
					<%= project.title %>
				</p>
				<p class="description">
					<%= project.description %>
				</p>
				<div class="social-media">
					<% if (project.github != null) { %>
					<a class="github" href="<%= project.github %>">
						<icon class="fab fa-github"></icon>
					</a>
					<% } %>
					<% if (project.youtube != null) { %>
					<a class="youtube" href="<%= project.youtube %>">
						<icon class="fab fa-youtube"></icon>
					</a>
					<% } %>
				</div>
				<div class="tags-container">
					<% project.tags.forEach(function(tag) { %>
					<div class="tag <%= tag.replace(/\s+/g, '-').toLowerCase() %>">
						<div class="tag-icon">
							<icon class="fas fa-tags"></icon>
						</div>
						<p class="tag-name">
							<%= tag %>
						</p>
					</div>
					<% }); %>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<%- include('shared/_footer.ejs') %>